body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0CBABA;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

#grid {
  display: block;
  margin: 0 auto 20px;
  padding: 30px 0px 0px 0px;
  width: 260px;

}

.letter {
  padding: 15px;
  margin: 3px;
  text-align: center;
  border: 1px solid #161616;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-
}

.row {
  margin-bottom: 35px;

}

.input-area {
  margin: 30px;
  width: 30px;
}

#respuesta {
  display: block;
  margin: 0 auto 2px;
  padding: 0px;
  width: 250px;
  height: 10px;
}

#acierto {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}